<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="header">
        <h1>My website</h1>
    </div>
        <%- body %>
    <footer>
    <h3>&copy;2026.All rights reserved.</h3>
    </footer>
    
</body>
</html>