<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div>
        <div class="header">
            <h1>My Store</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                 <li><a href="/users">Users</a></li>
                <li>Login</li>
                <li>Logout</li>
            </ul>
        </div>
        <div><%- body %></div>
        <div class="footer">&copy; 2026. All rights reserved.</div>
    </div>
  </body>
</html>