<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Order Form</h1>
    <form action="/orders/add" method="POST">
        <label for="user">User:</label>
        <select name="user" id="user">
            <% users.forEach(user => { %>
                <option value="<%= user._id %>"><%= user.name %></option>
            <% }); %>
        </select>
        <div id="products-container">
            <div class="product-item">
                <label for="product-0">Product:</label>
                <select name="products[0][product]" id="product-0">
                    <% products.forEach(product => { %>
                        <option value="<%= product._id %>"><%= product.name %></option>
                    <% }); %>
                </select>
                <label for="quantity-0">Quantity:</label>
                <input type="number" name="products[0][quantity]" id="quantity-0" value="1">
            </div>
        </div>
        <button type="submit">Add Order</button>
    </form>

</body>
</html>