<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Add Product Form</h2>
    <form action="/products/add" method="POST">
      <p><input type="text" name="name" placeholder="Product Name" /></p>
      <p><input type="number" name="price" placeholder="Price" /></p>
      <p><input type="text" name="desc" placeholder="Description" /></p>
      <p><input type="text" name="imageUrl" placeholder="Image Url" /></p>
      <p><button>Submit</button></p>
    </form>
  </body>
</html>